<%- include ../partials/header.ejs %>

<!-- MAIN CONTENT -->
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <img src="/Assets/images/profile.jpg" alt="Profile Picture" class="profile-img">
      
      <h1><%= title %></h1>
      <h2>My Favorite Books</h2>
      <h4>Welcome to my collection of favorite books. Here you'll find a curated selection of books that have had a profound impact on me.</h4> 

      <h4> Happy reading!</h4>
    </div>
  </div>
</div>

<%- include ../partials/footer.ejs %>


